---
import { Image } from 'astro:assets';

const PROJECTS = [
	{
		img: "",
		projectName: 'Qjubiloso',
		description:
			'Herramienta de productividad que permite registrar eventos, configurar alertas y trackear el tiempo de tus tareas.',
		
		link: 'https://lourdesjupo.github.io/Chronologica/',
	},
    {
        img: "",
		projectName: 'Steam',
		description:
		'Herramienta de productividad que permite registrar eventos, configurar alertas y trackear el tiempo de tus tareas.',
		
		link: 'https://lourdesjupo.github.io/Chronologica/',  
    },
       {
        img: "",
		projectName: 'Portfolio personal Helena',
		description:
		'Herramienta de productividad que permite registrar eventos, configurar alertas y trackear el tiempo de tus tareas.',
		
		link: 'https://lourdesjupo.github.io/Chronologica/',  
    },
       {
        img: "",
		projectName: 'Portfolio personal Alexis Navas',
		description:
		'Herramienta de productividad que permite registrar eventos, configurar alertas y trackear el tiempo de tus tareas.',
		
		link: 'https://lourdesjupo.github.io/Chronologica/',  
    },
]
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
{
	PROJECTS.map(({ img, projectName, description, link }) => (
		<article class=' flex flex-col sm:flex-row bg-white border border-gray-200 rounded-lg shadow  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-5'>
			{/* <Image class='hidden sm:w-2/6 sm:block' src={img} alt={`Captura de pantalla del proyecto {description}`} /> */}
			<div class='flex flex-col justify-between flex-wrap p-4 leading-normal'>
				<h3 class='mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white'>{projectName}</h3>
				<p>{description}</p>
				<div class='flex'>
					<a href={link} target='_blank' rel='noopener noreferrer'>
						<button
							type='button'
							class='px-5 py-2.5 text-sm font-semibold text-black text-current rounded-lg bg-submarine-300 flex justify-center items-center gap-x-2 py-1 px-2 mb-2 hover:scale-110 hover:bg-submarine-100  hover:border-2 hover:border-submarine-300 transition me-2 mb-2 mt-2 '
						>
							Ver proyecto
						</button>
					</a>
				</div>
			</div>
		</article>
	))
}
    </div>
