
---
const PROJECTS =  [

{
  img: './Anonymous.png',
  projectName: 'Anonymous Proxy',
  tech: ['HTML5', 'CSS3'],
  description:'Creación de una página web responsive basada en un diseño proporcionado.',
  github: 'https://github.com/Lourdesjupo/webResponsive_example',
  link: 'https://lourdesjupo.github.io/webResponsive_example/',
  type:'individual'
},
{
    img: './Rick_and_Morty.png',
    projectName: 'Buscador Rick And Morty',
    tech: ['HTML5', 'SASS', 'ReactJS'],
    description:'Busca tus personajes favoritos de Rick and Morty y averigua su procedencia y otros datos interesantes.',
    github: 'https://github.com/Lourdesjupo/Rick-and-Morty-Character-Finder',
    link: 'https://lourdesjupo.github.io/Rick-and-Morty-Character-Finder/',
    type:'individual'
},
{
    img: './card_generator.png',
    projectName: 'Card Generator',
    tech: ['HTML5', 'SASS', 'JavaScript'],
    description:'Proyecto en grupo: Crea tu tarjeta de presentación de forma personalizada. Añade tu foto y perfil y compártelo en redes.',
    github: 'https://github.com/Lourdesjupo/Card-Generator-Adalab-Teamproject',
    link: 'http://beta.adalab.es/project-promo-t-module-2-team-2/index.html',
    type:'group'
},
{
    img: './Disney_Character.png',
    projectName: 'Disney Character Database',
    tech: ['HTML5', 'SASS', 'JavaScript'],
    description:'Web Responsive donde almacenar todos tus personajes favoritos de Disney. ',
    github: 'https://github.com/Lourdesjupo/Disney-Characters-Database',
    link: 'https://lourdesjupo.github.io/Disney-Characters-Database/',
    type:'individual'
  },
{
    img: './dados.png',
    projectName: 'Dados y apuestas',
    tech: ['HTML5', 'CSS3', 'JavaScript'],
    description:'Mini juego donde podrás poner a prueba tu suerte contra tu máquina. Apuesta una cantidad, elige un número y juega!',
    github: 'https://github.com/Lourdesjupo/Dados-y-apuestas',
    link: 'https://lourdesjupo.github.io/Dados-y-apuestas/',
    type:'individual'
},
  {
    img: './Friends.png',
    projectName: 'Frases favoritas Friends',
    tech: ['HTML5', 'SASS', 'ReactJS'],
    description:'Filtra y añade tus frases favoritas de Friends. Los datos se guardan en local.',
    github: 'https://github.com/Lourdesjupo/add-and-search-friends-quotes',
    link: 'https://lourdesjupo.github.io/add-and-search-friends-quotes/',
    type:'individual'
  },

]
const techColors = {
    HTML5 : 'dark:bg-red-900 dark:text-red-300 bg-red-100 text-red-800',
    SASS : 'dark:bg-green-900 dark:text-green-300 bg-green-100 text-green-800',
    CSS3 : 'dark:bg-blue-900 dark:text-blue-300 bg-blue-100 text-blue-800',
    ReactJS : 'dark:bg-blue-600 dark:text-black-400 bg-blue-300 text-black-400',
    JavaScript : 'dark:bg-yellow-900 dark:text-yellow-300 bg-yellow-100 text-yellow-800',
    Vite : 'dark:bg-indigo-900 dark:text-indigo-300 bg-indigo-100 text-indigo-800',
    MUI : 'dark:bg-pink-900 dark:text-pink-300 bg-pink-100 text-pink-800',
    MySQL : 'dark:bg-gray-900 dark:text-gray-300 bg-gray-100 text-gray-800',
    NodeJS : 'dark:bg-blue-900 dark:text-blue-300 bg-blue-100 text-blue-800',
    ExpressJS : 'dark:bg-blue-900 dark:text-blue-300 bg-blue-100 text-blue-800',
}
---


{
    PROJECTS.map(({img, projectName, tech, description, github, link})=> (
        <article class=" flex flex-col sm:flex-row bg-white border border-gray-200 rounded-lg shadow  hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mb-5">
            <img class="hidden sm:w-2/6 sm:block" src={img} alt=`Captura de pantalla del proyecto ${description}`/>
            <div class="flex flex-col justify-between flex-wrap p-4 leading-normal">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{projectName}</h3>
                <p>{description}</p>
                <ul class=" flex flex-row">
                    {tech.map (tech =>(
                        <li class={`${techColors[tech]} text-xs font-medium me-2 px-2.5 py-0.5 rounded-full  `}>{tech}</li>
                    ))
                    }
                </ul>
                <div class="flex">
                  <a href={github} target="_blank" rel="noopener noreferrer"><button type="button" class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2 mt-2 ">
                    <svg 
                    class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg> GitHub
                    </button></a>
                    <a href={link} target ="_blank" rel="noopener noreferrer"><button type="button" class="px-5 py-2.5 text-sm font-medium text-white bg-submarine-500 hover:bg-submarine-600 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-submarine-600 dark:hover:bg-submarine-600 dark:focus:ring-submarine-800 me-2 mb-2 mt-2 ">Ver proyecto</button></a>
                  </div>
             </div>
          </article>
    )) 
}


